<div class="photos mb-3 mt-3 h-25rem">
  <div class="inner-image">
    <img alt="image"
         src="assets/img/ROOM-1_4.jpg">
  </div>
  <div class="outer-image">
    <img alt="image"
         src="assets/img/ROOM-1_1.jpg">
  </div>
</div>
<div class="mt-3">
  <span class="mb-2 custom-section-title text-md">
    {{'About' | translate | uppercase}}
  </span>
  <h1 class="m-0 text-5xl">Sentiti a casa e vivi un'esperienza unica</h1>
  <h3>Vivamus volutpat eros pulvinar velit laoreet, sit amet egestas erat dignissim.</h3>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
     aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  <div class="w-full mt-4">
    <span class="hand-written-font flex justify-content-end text-2xl">
      Giacomo....Il proprietario
    </span>
  </div>
</div>
<div class="custom-divider mt-5 mb-5"></div>
<div class="bonus-box mt-4 mb-4 flex flex-column justify-content-center align-items-center">
  <ng-container *ngFor="let perk of aboutPerks">
    <app-perk-box [description]="perk.description"
                  [iconClass]="perk.iconClass"
                  [title]="perk.title"/>
  </ng-container>
</div>
