.jumbotron-section {
  height: 100%;

  .start-container {
    height: 70%;
  }

  .end-container {
    height: 30%;
  }

  .book-now-button:hover {
    background-color: #a80d63ba;
    border-color: #a80d63ba;
  }
}
