<div class="jumbotron-section">
  <div class="p-3 start-container flex flex-column justify-content-center align-items-center">
    <h4 class="m-0 mb-3 custom-text-color font-italic">B&B EXPERIENCE</h4>
    <h1 class="hand-written-font custom-text-color text-5xl md:text-6xl m-0">La Casa di Giusy</h1>
    <button (click)="navigateToBooking()" class="book-now-button mt-3 p-3 custom-primary-button" pButton>
      <span class="book-now-text">{{'Book now' | translate | uppercase}}</span>
    </button>
  </div>

  <!-- BANNER TEMPORANEO -->
  <div class="p-2 end-container valentine-section flex justify-content-around align-items-center w-full">
    <div class="flex lg:flex-row flex-column justify-content-center align-items-center">
      <i class="fa-regular fa-heart text-lg md:text-2xl lg:text-4xl m-0 lg:mr-4"></i>
      <i class="fa-regular fa-heart text-xl md:text-3xl lg:text-5xl m-0 lg:mr-4"></i>
      <i class="fa-regular fa-heart text-2xl md:text-4xl lg:text-6xl"></i>
    </div>
    <div class="text-center">
      <p class="mb-1 text-xl md:text-4xl xl:text-6xl font-bold">{{'Valentine section title' | translate}}!</p>
      <p class="text-lg md:text-xl xl:text-2xl">{{'Valentine banner offer' | translate}}</p>
      <p-button styleClass="custom-primary-button" [size]="'small'" [label]="'Discover more' | translate"
        (onClick)="onNavigateToJollySection()" />
    </div>
    <div class="flex lg:flex-row flex-column justify-content-center align-items-center">
      <i class="fa-regular fa-heart text-lg md:text-4xl lg:text-6xl m-0 lg:mr-4"></i>
      <i class="fa-regular fa-heart text-xl md:text-3xl lg:text-5xl m-0 lg:mr-4"></i>
      <i class="fa-regular fa-heart text-2xl md:text-2xl lg:text-4xl"></i>
    </div>
  </div>
</div>
