.jumbotron-section {
  height: 100%;

  .start-container {
    height: 80%;
  }

  .end-container {
    height: 20%;
  }

  .book-now-button:hover {
    background-color: #a80d63ba;
    border-color: #a80d63ba;
  }

  .valentine-section {
    background: url('../../../assets/img/valentine-banner.png');
    background-position: top;
    background-size: cover;
    color: var(--custom-primary)
  }

}
