#jumbotron {
  background-blend-mode : darken;
  background-color      : rgba(0, 0, 0, 0.4);
  background-image      : url("../assets/img/ROOM-1_1.jpg");
  background-position   : center;
  background-size       : cover;
  height                : 100vh;
  //margin-top            : -8rem;
}

app-maps {
  padding : 0;
}

#rooms {
  background : var(--secondary-bg-color);
}

#maps {
  background : var(--secondary-bg-color);
}

#contacts {
  //background : var(--secondary-bg-color);
  //color      : #FFF;
}

section {
  padding-top : calc(var(--header-height) - .5rem);
}

nav {
  height : 100%
}

header {
  height   : var(--header-height);
  padding  : 0;
  position : fixed;
  top      : 0;
  width    : 100%;
  z-index  : 999;
}

footer {
  background : var(--secondary-bg-color);
  color      : #FFF;
  height     : var(--footer-height);
}

// Small devices (landscape phones, 576px and up)
@media (min-width : 0px) and (max-width : 767.98px) {
  section {
    padding-left  : 1rem;
    padding-right : 1rem;
    padding-top   : calc(var(--header-height) - .5rem);
  }
  nav {
    padding-left  : 1rem;
    padding-right : 1rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width : 768px) and (max-width : 991.98px) {
  section {
    padding-left  : 2rem;
    padding-right : 2rem;
    padding-top   : calc(var(--header-height) - .5rem);
  }
  nav {
    padding-left  : 2rem;
    padding-right : 2rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width : 992px) and (max-width : 1199.98px) {
  section {
    padding-left  : 3rem;
    padding-right : 3rem;
    padding-top   : calc(var(--header-height) + 1rem);
  }
  nav {
    padding-left  : 3rem;
    padding-right : 3rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width : 1200px) and (max-width : 1399.98px) {
  section {
    padding-left  : 10rem;
    padding-right : 10rem;
    padding-top   : calc(var(--header-height) + 1rem);
  }
  nav {
    padding-left  : 10rem;
    padding-right : 10rem;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width : 1400px) {
  section {
    padding-left  : 15rem;
    padding-right : 15rem;
    padding-top   : calc(var(--header-height) + 1rem);
  }
  nav {
    padding-left  : 15rem;
    padding-right : 15rem;
  }
}
