#jumbotron {
  background-blend-mode : darken;
  background-color      : rgba(0, 0, 0, 0.4);
  background-image      : url("../assets/img/ROOM-2_1.jpg");
  background-position   : center;
  background-size       : cover;
  height                : 100vh;
}

app-maps {
  padding : 0;
}

#rooms {
  background : var(--secondary-bg-color);
}

#maps {
  background : var(--secondary-bg-color);
}

