<header [ngClass]="{'invisible-header': isWindowAtTop, 'visible-header':!isWindowAtTop}">
  <nav>
    <div class="grid h-full">
      <div class="col-6 md:col-2 flex align-items-center pl-3 pb-0">
        <img alt=""
             class="logo"
             src="assets/img/logo.png">
      </div>
      <div class="col-6 md:col-10 pr-3 pb-0 flex justify-content-end align-items-center">
        <p-button (click)="showSidebar()"
                  *ngIf="isMobile"
                  icon="fa-solid fa-bars"
                  styleClass="text-2xl p-button-rounded p-button-text custom-color"/>
        <ng-container *ngIf="!isMobile">
          <div *ngFor="let item of navigationItems"
               class="mx-3 cursor-pointer text-lg custom-hover">
            <span [class]="item.styleClass">{{item.label | translate | uppercase}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
<main>
  <p-sidebar *ngIf="isMobile"
             [(visible)]="showMobileMenu"
             [showCloseIcon]="false"
             position="right">
    <ng-template pTemplate="header">
      <div class="grid w-full">
        <div class="col-12 flex justify-content-end">
          <p-button (click)="onCloseMenu()"
                    icon="fa-solid fa-times"
                    styleClass="text-2xl p-button-rounded p-button-text custom-color"/>
        </div>
        <div class="col-12 flex justify-content-center align-items-center">
          <h1 class="hand-written-font custom-color text-4xl">La Casa di Giusy</h1>
        </div>
      </div>
    </ng-template>
    <div class="grid mt-3">
      <div *ngFor="let item of navigationItems"
           class="col-12 mb-2 mt-2 flex justify-content-start align-items-center">
        <h4 (click)="navigateToSection(item.sectionName)"
            [class]="item.styleClass"
            class="m-0 p-0 cursor-pointer">{{item.label | translate | uppercase}}</h4>
      </div>
    </div>
  </p-sidebar>
  <section #jumbotronSection
           id="jumbotron">
    <app-jumbotron [languageControl]="languageControl"
                   [languageOptions]="languageOptions"/>
  </section>
  <section #aboutSection
           id="about">
    <app-about/>
  </section>
  <section #roomsSection
           id="rooms">
    <app-rooms/>
  </section>
  <section #gallerySection
           class="pb-8"
           id="gallery">
    <app-gallery/>
  </section>
  <section #mapSection
           class="pb-8"
           id="maps">
    <app-maps/>
  </section>
  <section #contactsSection
           class="pb-8 "
           id="contacts">
    <app-contacts/>
  </section>
  <p-button (onClick)="scrollToTop()"
            *ngIf="!isWindowAtTop"
            icon="fa-solid fa-arrow-up"
            styleClass="scroll-top-button custom-primary-button p-button-rounded text-2xl"/>
</main>
<footer>
  <app-footer/>
</footer>
