#jumbotron {
  background-blend-mode : darken;
  background-color      : rgba(0, 0, 0, 0.4);
  background-image      : url("../assets/img/ROOM-1_1.jpg");
  background-position   : center;
  background-size       : cover;
  height                : calc(100vh - var(--header-height));
  margin-top            : -8rem;
}

#rooms {
  background : var(--secondary-bg-color);
}

#contacts {
  background : var(--secondary-bg-color);
  color      : #FFF;
}

header {
  height   : var(--header-height);
  padding  : 0;
  position : fixed;
  top      : 0;
  width    : 100%;
  z-index  : 999;
}

footer {
  background : var(--primary-bg-color);
  height     : var(--footer-height);
}
