.p-sidebar {
  .p-sidebar-header {
    align-items     : center;
    background      : var(--header-bg-color);
    display         : flex;
    justify-content : center;
  }

  .p-sidebar-content {
    background : var(--primary-bg-color);
  }

  .p-sidebar-footer {
    background : var(--primary-bg-color);
  }
}

.p-button.custom-primary-button {
  background : var(--custom-primary);
  border     : 1px solid var(--custom-primary);
}

.p-button.p-button-text.custom-text-button {
  color : var(--custom-primary);

  &:focus {
    -moz-box-shadow    : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
  }
}

.p-splitbutton.p-button-outlined > .p-button {
  color : var(--custom-primary);

  &:focus {
    -moz-box-shadow    : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
  }
}

.h-50rem {
  height : 50rem;
}

.custom-color {
  color : var(--custom-primary)
}

.custom-bg {
  background : var(--custom-primary)
}

.hand-written-font {
  font-family : 'Great Vibes', cursive;
}

.custom-section-title {
  color          : var(--custom-primary);
  font-family    : 'Montserrat', sans-serif;
  font-weight    : normal;
  letter-spacing : 0.6rem;
}

.custom-divider {
  background : var(--custom-primary);
  height     : 1px;
}

.background-primary {
  background : var(--primary-bg-color)
}

.custom-text-color {
  color : var(--custom-text-color);
}

.custom-divider-inverted {
  background : var(--primary-bg-color);
  height     : 1px;
}

.invisible-header {
  background : transparent;
  color      : var(--custom-text-color);
  transition : background-color 300ms ease-in-out;
}

.visible-header {
  background : var(--header-bg-color);
  color      : var(--secondary-bg-color);
  transition : background-color 300ms ease-in-out;
}

.scroll-top-button {
  left     : 80%;
  position : fixed;
  top      : 90%;
  z-index  : 999;
}

.custom-hover {
  &:hover {
    border-bottom  : 3px solid var(--custom-primary);
    font-weight    : bold;
    padding-bottom : .5rem;
    transition     : 300ms all ease-in-out;
  }
}
