.p-sidebar {
  .p-sidebar-header {
    align-items     : center;
    background      : var(--header-bg-color);
    display         : flex;
    justify-content : center;
  }

  .p-sidebar-content {
    background : var(--primary-bg-color);
  }

  .p-sidebar-footer {
    background : var(--primary-bg-color);
  }
}

.p-button.custom-primary-button {
  background : var(--custom-primary);
  border     : 1px solid var(--custom-primary);
}

.p-button.p-button-text.custom-text-button {
  color : var(--custom-primary);

  &:focus {
    -moz-box-shadow    : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
  }
}

.p-splitbutton.p-button-outlined > .p-button {
  color : var(--custom-primary);

  &:focus {
    -moz-box-shadow    : none;
    -webkit-box-shadow : none;
    box-shadow         : none;
  }
}

.h-50rem {
  height : 50rem;
}

.custom-color {
  color : var(--custom-primary)
}

.custom-bg {
  background : var(--custom-primary)
}

.hand-written-font {
  font-family : 'Great Vibes', cursive;
}

.custom-section-title {
  color          : var(--custom-primary);
  font-family    : 'Montserrat', sans-serif;
  font-weight    : normal;
  letter-spacing : 0.6rem;
}

.custom-divider {
  background : var(--custom-primary);
  height     : 1px;
}

.background-primary {
  background : var(--primary-bg-color)
}

.custom-text-color {
  color : var(--custom-text-color);
}

.custom-divider-inverted {
  background : var(--primary-bg-color);
  height     : 1px;
}

.invisible-header {
  background : transparent;
  color      : var(--custom-text-color);
  transition : background-color 300ms ease-in-out;
}

.visible-header {
  background : var(--header-bg-color);
  color      : var(--secondary-bg-color);
  transition : background-color 300ms ease-in-out;
}

.custom-hover {
  -webkit-background-clip : text;
  background-image        : linear-gradient(
      to right,
      var(--custom-primary),
      var(--custom-primary) 50%,
      #fff 50%);
  background-position     : -100%;
  background-size         : 200% 100%;
  display                 : block;
  font-size               : 26px;
  font-weight             : bold;
  line-height             : 1;
  padding                 : 5px 0;
  position                : relative;
  text-align              : center;
  text-decoration         : none;
  -webkit-text-fill-color : transparent;
  transition              : all 0.3s ease-in-out;
  z-index                 : 1;

  &:before {
    background : var(--custom-primary);
    bottom     : -3px;
    content    : '';
    display    : block;
    height     : 3px;
    left       : 0;
    position   : absolute;
    transition : all 0.3s ease-in-out;
    width      : 0;
    z-index    : 0;
  }

  &:hover {
    background-position : 0;

    &:before {
      width : 100%;
    }
  }
}

.item-invisible {
  opacity  : 0;
  position : relative;
  top      : 50px;
}

.item-visible {
  opacity    : 1;
  position   : relative;
  top        : 0;
  transition : all 300ms ease-in-out;
}
