:root {
  --primary-bg-color   : rgba(230, 235, 238, 0.75);
  --secondary-color    : #64748b;
  --warning-color      : #f59e0b;
  --custom-primary     : rgba(234, 20, 139, 0.73);
  --primary-text-color : #FFF;
}
