:root {
  --header-bg-color      : #f7d4bc;
  --primary-bg-color     : #fefff4;
  --secondary-bg-color   : #1a1423;
  --secondary-color      : #64748b;
  --warning-color        : #f59e0b;
  --primary-darker-color : #431f96;
  --footer-height        : 4rem;
  --header-height        : 8rem;
  --custom-primary       : #ea148bba;
  --custom-text-color    : #fdf0d5
}
