:root {
  --primary-bg-color     : #f9f7f4;
  --secondary-bg-color   : #c7bca9;
  --secondary-color      : #64748b;
  --warning-color        : #f59e0b;
  --primary-darker-color : #431f96;
  --header-height        : 8rem;
  --custom-primary       : rgba(234, 20, 139, 0.73);
  --primary-text-color   : #FFF;
}
