<h1 class="mt-0 mb-5 text-5xl custom-text-color text-center">{{'Rooms' | translate}}</h1>
<div class="grid">
  <div class="col-12 md:col-6 lg:col-4 mb-8">
    <div class="room">
      <div class="image-container">
        <img alt="room image"
             src="assets/img/ROOM-1_1.jpg">
      </div>
      <div class="description p-3 background-primary">
        <h1>Venere</h1>
        <p>{{'Venere room description' | translate}}</p>
        <div class="mt-5 flex justify-content-end">
          <p-button (onClick)="goToBooking()"
                    [label]="'Book now' | translate"
                    styleClass="p-button-sm p-button-text custom-text-button"/>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4 mb-8">
    <div class="room">
      <div class="image-container">
        <img alt="room image"
             src="assets/img/ROOM-1_1.jpg">
      </div>
      <div class="description p-3 background-primary">
        <h1>Diana</h1>
        <p>{{'Diana room description' | translate}}</p>
        <div class="mt-5 flex justify-content-end">
          <p-button (onClick)="goToBooking()"
                    [label]="'Book now' | translate"
                    styleClass="p-button-sm p-button-text custom-text-button"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="custom-divider-inverted mt-5 mb-5"></div>
<div class="grid">
  <div class="col-12">
    <h1 class="mt-0 mb-5 text-5xl custom-text-color text-center">Bonus principali</h1>
  </div>
  <ng-container *ngFor="let perk of facilitiesPerk">
    <div class="col-12 md:col-6 lg:col-4">
      <app-perk-box [description]="perk.description"
                    [iconClass]="perk.iconClass"
                    [invertedColor]="true"
                    [title]="perk.title"/>
    </div>
  </ng-container>
</div>

