.room {
  .image-container {
    height : 80%;

    img {
      border-radius      : 1rem;
      -webkit-box-shadow : 0 2px 8px -2px #000000;
      box-shadow         : 0 2px 8px -2px #000000;
      width              : 100%;
    }
  }

  .description {
    background                 : #FFF;
    border                     : 2px solid #FFF;
    border-bottom-left-radius  : 1rem;
    border-bottom-right-radius : 1rem;
    -webkit-box-shadow         : 0 2px 8px -2px #000000;
    box-shadow                 : 0 2px 8px -2px #000000;
    margin                     : -30px auto 0 auto;
    position                   : relative;
    width                      : 90%;
    z-index                    : 2;
  }
}
