<h1 class="mt-0 mb-5 text-5xl">Le Camere</h1>
<div class="grid">
  <div class="col-12 md:col-6 lg:col-4 mb-8">
    <div class="room ">
      <div class="image-container">
        <img alt="room image"
             src="assets/img/IMG-2-fixed.png">
      </div>
      <div class="description p-3">
        <h1>Camera doppia</h1>
        <p>Beautiful design with modern furnishings including a glamorous bay window with your own private view of
           Lucerne.</p>
        <div class="flex flex-column">
          <div class="flex align-items-center mb-3">
            <i class="fa-solid fa-tv text-3xl text-primary mr-2"></i> <span>32" Tv</span>
          </div>
          <div class="flex align-items-center">
            <i class="fa-solid fa-tv text-3xl text-primary mr-2"></i> <span>32" Tv</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4 mb-8">
    <div class="room">
      <div class="image-container">
        <img alt="room image"
             src="assets/img/IMG-2-fixed.png">
      </div>
      <div class="description p-3">
        <h1>Camera doppia</h1>
        <p>Beautiful design with modern furnishings including a glamorous bay window with your own private view of
           Lucerne.</p>
        <div class="flex flex-column">
          <div class="flex align-items-center mb-3">
            <i class="fa-solid fa-tv text-3xl text-primary mr-2"></i> <span>32" Tv</span>
          </div>
          <div class="flex align-items-center">
            <i class="fa-solid fa-tv text-3xl text-primary mr-2"></i> <span>32" Tv</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-6 lg:col-4">
    <div class="room">
      <div class="image-container">
        <img alt="room image"
             src="assets/img/IMG-2-fixed.png">
      </div>
      <div class="description p-3">
        <h1>Camera doppia</h1>
        <p>Beautiful design with modern furnishings including a glamorous bay window with your own private view of
           Lucerne.</p>
        <div class="flex flex-column">
          <div class="flex align-items-center mb-3">
            <i class="fa-solid fa-tv text-3xl text-primary mr-2"></i> <span>32" Tv</span>
          </div>
          <div class="flex align-items-center">
            <i class="fa-solid fa-tv text-3xl text-primary mr-2"></i> <span>32" Tv</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

