@import 'src/style/variables';
@import 'src/style/custom';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Montserrat:wght@100;300;500&display=swap');

.debug {
  border : 1px solid red;
}

.debug2 {
  border : 1px solid green;
}

body, html {
  background         : var(--primary-bg-color);
  font-family        : 'Lato', sans-serif;
  height             : 100%;
  margin             : 0 !important;
  -ms-overflow-style : none; /* IE and Edge */
  overflow-x         : hidden;
  padding-top        : var(--header-height);
  scrollbar-width    : none; /* Firefox */
  width              : 100%;
}

*::-webkit-scrollbar {
  display : none;
}

.logo {
  width : 100px;
}

